@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


:root {
    --bs-primary: #14b8a6;
    --bs-secondary: #5eead4;
    --bs-success: #73a839;
    --bs-info: #2dd4bf;
    --bs-warning: #dd5600;
    --bs-danger: #c71c22;
    --bs-light: #f8f9fa;
    --bs-dark: #004850;
    --bs-black: #001417;
  }



body {
    font-family: 'Open Sans', sans-serif;
    color: var(--bs-primary);
}

p {
    font-family: 'Open Sans', sans-serif;;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Slab', serif;
    color: var(--bs-black);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 28;
}

h4 {
    font-size: 20px;
}

.container-1000 {
    max-width: 1400px;
    margin: 50px;
    padding: 15px;
    border: 1px solid black;
}

#container {
    display: flex;
    text-align: center;
}

.c-p {
    background-color: #004850;
    margin: 5px; 
    max-width: 200px;
    padding: 5px;
}

.c-s {
    background-color: #c71c22;
    margin: 5px; 
    max-width: 200px;
    padding: 5px;
}

.






  body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  .container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;

  }

  
